#extends("/page/layout/front.vm")


#block("content")

<div class="content" style="height:500px;margin-top:50px;">
  This is foo.vm <br>
  content is:$content

  #widget("/widget/w2/w2.vm")

</div>

#script()
  require(['./foo.js']);
#end
#end## end of content
#end
