.nav {
  // overflow:hidden;
  list-style:none;
  height:35px;
  line-height:35px;

    ul,li{
        list-style: none;
        padding: 0;
    }

    li {
        float:left;
        width:100px;

         .dropdown-menu{
            display: none;
            position: absolute;
            background-color: blanchedalmond;
            z-index: 10000;

            li {
                float:none;
            }
        }

        &:hover .dropdown-menu{
            display: block;
        }
    }

}

.navbar-brand.active {
    color: #eee;
}