.w3{
    background-color: #fff;
    margin: 10px auto;
    color: inherit;

    ul, li{
        list-style: none;
        color: #666;
    }

    li{
        a {
            color: inherit;
            display: inline-block;
            margin-right: 20px;

            &:link, &:active, &::visited{
                color: inherit;
            }

            &:hover{
                color: #ef3b31;
            }
        }

        &.first a{
            color: #333;
            font-weight: bold;
        }
    }



}